{% extends 'base.html.twig' %}

{% block title %}Par ici la sortie !{% endblock %}

{% block body %}



<div class="example-wrapper bienvenue-container">
    <h1>Bienvenue sur le site de Par ici la sortie ! </h1>
</div>

    {#  MC: test avec une image avec autres dimensions
<div class="bg-image bg-size-half bg-position-top">
<img src="{{ asset('image/festival.jpg') }}" alt="Description de l'image"></div>#}

    <div class="bg-image bg-size-cover bg-position-center">
    <img src="{{ asset('image/fond4.png') }}" alt="bar entre amis" class="fullscreen-image"></div>

{% endblock %}
