{% extends 'base.html.twig' %}

{% block title %}Sorties Eni{% endblock %}

{% block body %}



<div class="example-wrapper">
    <h1>Bienvenue le site : SORTIR ✅</h1
</div>
<div class="bg-image bg-size-half bg-position-top">
   <img src="{{ asset('image/festival.jpg') }}" alt="Description de l'image"></div>
{% endblock %}
