{% extends 'base.html.twig' %}
{% block title %}Sorties Eni{% endblock %}

{% block body %}



<div class="example-wrapper">
    <h1>Bienvenue le site : SORTIR ✅</h1
</div>
<div class="rounded float-end">
   <img src="{{ asset('image/festival.jpg') }}" alt="Description de l'image"></div>
{% endblock %}
