{% extends 'base.html.twig' %}
{% block title %}Sorties Eni{% endblock %}

{% block body %}



<div class="example-wrapper bienvenue-container">
    <h1>Bienvenue sur le site : Par ici la sortie ! </h1>
</div>




    <div class="bg-image bg-size-full bg-position-center">
    <img src="{{ asset('image/concert.jpg') }}" alt="Description de l'image"></div>

{% endblock %}
